# Feature Scalling

In [9]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

In [6]:
data = {
    'Age': [25, 45, 35, 50, 23],
    'Salary': [50000, 100000, 75000, 120000, 40000]
}
df = pd.DataFrame(data)
df

   Age  Salary
0   25   50000
1   45  100000
2   35   75000
3   50  120000
4   23   40000

In [7]:
scaler = MinMaxScaler()
df_minmax = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
print("\nMin-Max Scaling:\n", df_minmax)

Min-Max Scaling:
         Age  Salary
0  0.074074  0.1250
1  0.814815  0.7500
2  0.444444  0.4375
3  1.000000  1.0000
4  0.000000  0.0000

In [8]:
scaler = StandardScaler()
df_standard = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
print("\nStandardization:\n", df_standard)

Standardization:
         Age    Salary
0 -0.995228 -0.902007
1  0.882561  0.768376
2 -0.056334 -0.066815
3  1.352008  1.436529
4 -1.183007 -1.236083

In [10]:
scaler = RobustScaler()
df_robust = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
print("\nRobust Scaling:\n", df_robust)

Robust Scaling:
     Age  Salary
0 -0.50    -0.5
1  0.50     0.5
2  0.00     0.0
3  0.75     0.9
4 -0.60    -0.7